<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Payment Item Notification Email</h1>
    <% if @response["ItemNotificationMessage"]["RequestStatus"] = "Accepted" %>
      <h2>Payment Reference: <%= @response["ItemNotificationMessage"]["CallingApplicationTransReference"] %></h2>
      <p>
        The following item has been processed for basket reference: <%= @response["ItemNotificationMessage"]["BasketReference"] %>:
      <p>
        <h3>Item:</h3>
      </p>
      <% @response["ItemNotificationMessage"]["Item"].each do |key, value| %>
        <p>
          <%= key %> = <%= value %>
        </p>
      <% end %>
    <% else %>
      <h2>The Payment Failed</h2>
    <% end %>
  </body>
</html>
